html {
  font-family: "Century Schoolbook", serif;
  line-height: 1.4;
  text-align: center;
}

body > header,
body > main,
body > nav,
body > footer {
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

body > footer {
  font-size: 80%;
  margin-top: 3rem;
  padding-top: 0;
  text-align: right;
}

@media screen {
  body > header,
  body > main,
  body > nav,
  body > footer {
    max-width: 37rem;
  }

  body > footer {
    border-top: 1px solid black;
    padding-bottom: 3rem;
  }
}

.example {
  margin: 0;
  padding: 0;
}

.example:before {
  content: 'Example: ';
    font-weight: bold;
}

h1 {
  padding-top: 2rem;
}

h2 {
  padding-top: 1rem;
}

pre {
  line-height: 100%;
}

a[href] {
  text-decoration: none;
}

a[href]:hover {
  text-decoration: underline;
}
